@page
@model TD4.Pages.order.EditordModel
@{
}
<br />
<h2> Edit Category </h2>


@if (Model.errorMessage.Length > 0)
{
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
        <strong>@Model.errorMessage</strong>
        <button type='button' class="btn-close" data-bs-dismiss='alert' aria-label='close'> </button>
    </div>
}

<form method="post">

    <input type="hidden" name="order_id" value="@Model.orderInfo.order_id">

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> Product Id </label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="product_id" value="@Model.orderInfo.product_id">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> Customer Id </label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="customer_id" value="@Model.orderInfo.customer_id">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"> Fees </label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="fees" value="@Model.orderInfo.fees">
        </div>
    </div>


    @if (Model.successMessage.Length > 0)
    {
        <div class='row mb-3'>
            <div class="col-sm-9">
                <div class='alert alert-success alert-dismissible fade show' role='alert'>
                    <strong>@Model.successMessage</strong>
                    <button type='button' class="btn-close" data-bs-dismiss='alert' aria-label='close'> </button>
                </div>
            </div>
        </div>
    }



    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>

        </div>
    </div>

</form>

